@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */

html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

:root {
  --glow-color: 169deg 62% 45%;
  --glow: 0.3px 0.5px 0.7px hsl(var(--glow-color) / 0.29),
    0.8px 1.5px 1.9px -0.8px hsl(var(--glow-color) / 0.29),
    1.9px 3.8px 4.8px -1.7px hsl(var(--glow-color) / 0.29),
    4.6px 9.1px 11.5px -2.5px hsl(var(--glow-color) / 0.29);
  --drop-glow: 0 1px 6px rgb(60, 127, 110);
  --drop-glow-1: 0 1px 2px rgb(91, 212, 182);
  --drop-glow-2: 0 1px 8px rgb(60, 127, 110);
}
